@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;
    /* Blue - Cho sự tin cậy (Wallet) */
    --color-primary-foreground: #ffffff;

    --color-secondary: #64748b;
    /* Slate - Cho các thành phần phụ */
    --color-secondary-foreground: #f8fafc;

    --color-accent: #f59e0b;
    /* Amber - Cho các nút hành động/Highlight phim */
    --color-background: #ffffff;
    --color-foreground: #0f172a;

    /* Bạn cũng có thể định nghĩa các màu trạng thái */
    --color-success: #10b981;
    --color-destructive: #ef4444;
    --color-warning: #f59e0b;
    --color-warning-foreground: #ffffff;
    /* Custom Border Radius */
    --radius-xl: 1rem;
}

@layer base {
    :root {
        --background: var(--color-background);
        --foreground: var(--color-foreground);
        --primary: var(--color-primary);
        --primary-foreground: var(--color-primary-foreground);
        --secondary: var(--color-secondary);
        --secondary-foreground: var(--color-secondary-foreground);
        --accent: var(--color-accent);
        --accent-foreground: var(--color-accent-foreground);
        --destructive: var(--color-destructive);
        --destructive-foreground: var(--color-destructive-foreground);
        --success: var(--color-success);
        --success-foreground: var(--color-success-foreground);
    }
}