@import "tailwindcss";
@plugin "tailwindcss-animate";
@import "@radix-ui/themes/styles.css";

@theme {
    --color-primary: #3b82f6;
    --color-primary-foreground: #ffffff;
    --color-secondary: #2e2e2e;
    --color-secondary-foreground: #ffffff;
    --color-accent: #f59e0b;
    --color-background: #ffffff;
    --color-foreground: #0f172a;
    --color-success: #10b981;
    --color-success-foreground: #ffffff;
    --color-destructive: #ef4444;
    --color-destructive-foreground: #ffffff;
    --color-warning: #f59e0b;
    --color-warning-foreground: #ffffff;
    --color-danger: #ef4444;
    --color-danger-foreground: #ffffff;

    /* Custom Border Radius */
    --radius-xl: 1rem;

    /* Custom Animations */
    --animate-spin-slow: spin 3s linear infinite;
}

@layer base {
    :root {
        --background: var(--color-background);
        --foreground: var(--color-foreground);
        --primary: var(--color-primary);
        --primary-foreground: var(--color-primary-foreground);
        --secondary: var(--color-secondary);
        --secondary-foreground: var(--color-secondary-foreground);
        --accent: var(--color-accent);
        --accent-foreground: var(--color-accent-foreground);
        --destructive: var(--color-destructive);
        --destructive-foreground: var(--color-destructive-foreground);
        --success: var(--color-success);
        --success-foreground: var(--color-success-foreground);
        --warning: var(--color-warning);
        --warning-foreground: var(--color-warning-foreground);
        --danger: var(--color-danger);
        --danger-foreground: var(--color-danger-foreground);

    }
}